.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  max-height: calc(100vh - 140px);
  gap: 10px 10px;
  padding: 20px;
  /* border: 1px solid #fff; */
  grid-template-areas:
    "input output"
    "input clipboard";
}

.input {
  grid-area: input;
  /* border: 1px solid #fff; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* filter: drop-shadow(0 0 30px #fff); */
}

.output {
  grid-area: output;
  /* border: 1px solid #fff; */
  display: grid;
  align-items: center;
  justify-content: center;
  /* filter: drop-shadow(0 0 30px #fff); */
}

.clipboard {
  grid-area: clipboard;
  /* border: 1px solid #fff; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5%;
  /* filter: drop-shadow(0 0 30px #fff); */
}

.additional {
  grid-area: additional;
  /* border: 1px solid #fff; */
}

.card {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 20px;
}
.card input {
  height: 40px;
  background-color: snow;
  border-radius: 10px;
  margin: 5px 10px;
}
.card select {
  height: 40px;
  background-color: snow;
  border-radius: 10px;
  margin: 5px 10px;
  width: 180px;
}
@media (max-width: 961px) {
  .gridContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    max-height: calc(100vh - 140px);
    gap: 10px 10px;
    padding: 20px;
    /* border: 1px solid #fff; */
    grid-template-areas:
      "input "
      "output"
      " clipboard";
  }
}
