.grid-container {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 1fr 1fr;
  grid-template-rows: 0.3fr 1.7fr 1.7fr 0.3fr;
  gap: 0px 0px;
  /* height: 100vh; */
  grid-template-areas:
    "header header header header"
    "nav content content content"
    "nav content content content"
    "nav footer footer footer";
}

.header {
  grid-area: header;
}

.nav {
  grid-area: nav;
}

.footer {
  grid-area: footer;
}

.content {
  grid-area: content;
  height: fit-content;
}
